include README.md
include LICENSE
recursive-include src/pinocchio_kinematics_lite/assets *.urdf *.stl *.dae
recursive-exclude pyAgxArm *
recursive-exclude nero/teleop *
recursive-exclude nero/tests *
